* {
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
}

.body--bg-red {
    background-color: #f24040;
}

.horizontal-center {
    justify-content: center;
}

.container {
    display: grid;
    grid-template-rows: 100px repeat(4, 1fr);
    grid-template-columns: repeat(4, 1fr);
    width: 550px;
    height: 650px;
    margin: 150px auto;
    grid-gap: 10px;
}

.display {
    grid-area: 1 / 1 / 1 / 5;
    border: solid 2px black;
    text-align: center;
    background-color: #bbcca1;
}

#result {
    font-family: sans-serif;
    font-size: 1.7rem;
}

.buttons {
    grid-area: 2 / 1 / 6 / 5;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25%, 25%));
}

.btn {
    border-radius: 8px;
    font-size: 2rem;
}

.btn--color-blue {
    background-color: #3e58da;
}

.btn--color-yellow {
    background-color: #ffc933;
}

.btn--color-green {
    background-color: #47d178;
}

.btn--color-black {
    color: #FFF;
    background-color: #000;
}