* {
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
}

.body--bg-purple {
    background-color: #13061f;
}

.horizontal-center {
    justify-content: center;
}

.display {
    grid-area: display;
    height: 60px;
    background-color: #194586;
    text-align: center;
}

.container {
    margin: 150px auto;
    display: grid;
    align-items: center;
    grid-template-areas: 
        'display display display display'
        '7 8 9 ÷'
        '4 5 6 x'
        '1 2 3 -'
        'C 0 = +';
    width: 300px;
    height: 400px;
    background-color: #0f2950;
}

#result {
    font-family: sans-serif;
    font-size: 20px;
    color: #FFF;
}

#buttons {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
}

.btn {
    width: 60px;
    height: 60px;
    font-size: 1.5rem;
    border-radius: 10%;
    border: none;
    padding: 5px;
    margin: 5px;
}

.num {
    background-color: #ec830b;
    border-radius: 50%;
    color: #FFF;
}

.operator {
    background-color: #6ec4b5;
    border-radius: 30%;
}

#equals {
    background-color: #2e734d;
}

#clear {
    background-color: #c52020;
}